@import "./functions";
@import "./mixins";
@import "./normalize";

// @font-face {
//   font-family: "ROASHE";
//   src: url("../../public/font/Roashe.ttf") format("truetype");
// }
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

//color

$w-white: #ffffff;
$b-black: #000000;

//font

$okine: "okine", serif;
$arc: "Archivo Black", sans-serif;
$roashe: "ROASHE";

// size text pc

$h1pc: 4.125rem;
$h2pc: 2.5rem;
$h3pc: 1.875rem;
$h4pc: 1.25rem;
$text1pc: 1.063rem;
$text2pc: 1.25rem;
$text3pc: 0.938rem;
$formulairepc: 1rem;
$menupc: 3.75rem;

// size text  téléphonie

$h1tel: 1.563rem;
$h2tel: 1.438rem;
$h3tel: 1.313rem;
$h4tel: 0.813rem;
$text1tel: 0.75rem;
$text2tel: 0.875rem;
$text3tel: 0.625rem;
$menutel: 2.313rem;
$formulairetel: 0.875rem;
